// ユーザーマイページ

* {
  box-sizing: border-box;
}


@mixin mypageLists() {
  border: 1px solid $skyblue;
  margin-bottom: 5px;
}

.mypage-main {
  background-color: $gray_white;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;

  .left-content {
    width: 450px;
    color: #f36;
    font-size: 25px;
    padding: 30px;

    .left-data {
      color: #000;
      font-size: 18px;
      text-decoration: none;
    }

    &__mypage-lists {
      background-color: $white;
      margin-left: 100px;
      padding: 30px;

      &__list {
        @include mypageLists();
      }
    }

    &__settings {
      margin-left: 100px;
      margin-top: 10px;

      &-box {
        background-color: $white;
        padding: 30px;

        &__list {
          @include mypageLists();
        }
      }
    }
  }

  .right-content {
    width: calc(100% - 450px);

    &__user-box {
      background-color: $white;
      height: 450px;
      margin: 0 auto;
      margin-top: 30px;
      width: 700px;

      &--other {
        background-color: $skyblue;
        height: 100px;
        width: 700px;

        .right-content__user {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;
        }
      }
    }

    &__buy-box {
      background-color :$white;
      height: 450px;
      margin: 0 auto;
      margin-top: 55px;
      width: 700px;
      margin-bottom: 50px;

      .right-content__box {
        background-color: $skyblue;
        height: 100px;
        width: 700px;
        
        .right-content__item {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;
        }
      }
    }
  }
}
